# Node dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables (VERY IMPORTANT)
.env

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Docker (optional but useful)
*.tar

# Git
.gitignore